/* Custom Scrollbar Styles */
::-webkit-scrollbar {
    width: 8px;
    /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    /* Background of the scrollbar track */
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #888;
    /* Color of the scrollbar thumb */
    border-radius: 10px;
}


/* Firefox-specific scrollbar properties */
* {
    scrollbar-width: thin;
    /* Make scrollbar thinner */
    scrollbar-color: #dfdfdf #f4f3f3;
    /* Thumb color and track color */
}

.css-n9ayja-MuiContainer-root {
    max-width: 100% !important;
}

.css-1lkri9v {
    max-width: 100% !important;
}